registry="https://registry.npm.taobao.org/"
sass_binary_site="https://npm.taobao.org/mirrors/node-sass"
@live:registry="http://nexus.tanzk.com:8081/repository/tzedu_npm_public/"
@tzfe:registry="http://nexus.tanzk.com:8081/repository/tzedu_npm_public/"
